body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("https://preview.redd.it/aizh4c6y7ab21.jpg?width=640&crop=smart&auto=webp&s=f38b6237631b9040b4d737541c26953edd6ee4e2");
    background-size: cover;
    background-position: center;
}

.card {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 228, 225, 0.6);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px) ;
    display: none;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff69b4;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #ff1493;
}

@media (max-width: 500px) {
    body {
        background: url(https://i.pinimg.com/564x/32/a2/b4/32a2b4eae4aae7448503a9721b189d1b.jpg);
        background-size: cover;
        background-position: center;
    }
}